# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.mexa64
*.mexw64
*.mexmaca64
*.mexmaci64

# Backup files
*.asv
*.bck
*.old
*.bckp


data/README.txt
data/test_data.mat
data/test_data2.mat
data/test_data3.mat
io/3rdparty/Slicer-4.5/Extensions-24973/MatlabModules/DWI2FreeWater
io/3rdparty/Slicer-4.5/Extensions-24973/MatlabModules/MatFileToSlicerVolume
io/3rdparty/Slicer-4.5/Extensions-24973/MatlabModules/SlicerVolumeToMatFile
playground/atti2hydidsi_debuggcv.m
playground/compute_shodf_from_micro_debuggcv.m
playground/debuggcv_hydidsi.m
playground/debuggcv_misfit.m
playground/dmri_gcv_debuggcv.m
playground/findgcv_hydidsi.m
playground/micro2shodf_debuggcv.m
playground/README.txt
mexcode/mapl/@mapl/maplLibTest2.py
mexcode/mapl/@mapl/maplLibTest.py
mexcode/mapl/@mapl/maplLib.cpp
mexcode/mapl/@mapl/Makefile
mexcode/mapl/@hermite/Makefile
mexcode/mapl/@hermite/hermiteLibTest.py
mexcode/mapl/@hermite/hermiteLib.cpp
mexcode/mapl/@test/Makefile
mexcode/mapl/@test/test
mexcode/mapl/@test/test.cpp
data/new/check_segmentations.m
data/new/process.m
data/new/Segmentation.nrrd
data/new/sub01ses01.bval
data/new/sub01ses01.bvec
data/new/sub01ses01.nii.gz
data/new/test_tractography.m
data/new/test_tractography2.m
data/new/test_tractography3.m
data/test_data4.mat
mexcode/config.octave
mexcode/openblas-danzig/include/cblas.h
mexcode/openblas-danzig/include/f77blas.h
mexcode/openblas-danzig/include/lapack.h
mexcode/openblas-danzig/include/lapacke.h
mexcode/openblas-danzig/include/lapacke_config.h
mexcode/openblas-danzig/include/lapacke_mangling.h
mexcode/openblas-danzig/include/lapacke_utils.h
mexcode/openblas-danzig/include/openblas_config.h
mexcode/openblas-danzig/lib/cmake/openblas/OpenBLASConfig.cmake
mexcode/openblas-danzig/lib/cmake/openblas/OpenBLASConfigVersion.cmake
mexcode/openblas-danzig/lib/pkgconfig/openblas.pc
mexcode/openblas-local/include/cblas.h
mexcode/openblas-local/include/f77blas.h
mexcode/openblas-local/include/lapack.h
mexcode/openblas-local/include/lapacke.h
mexcode/openblas-local/include/lapacke_config.h
mexcode/openblas-local/include/lapacke_mangling.h
mexcode/openblas-local/include/lapacke_utils.h
mexcode/openblas-local/include/openblas_config.h
mexcode/openblas-local/lib/cmake/openblas/OpenBLASConfig.cmake
mexcode/openblas-local/lib/cmake/openblas/OpenBLASConfigVersion.cmake
mexcode/openblas-local/lib/pkgconfig/openblas.pc
.jupyter_ystore.db
examples/.ipynb_checkpoints/demo_AMURA-checkpoint.ipynb
examples/.ipynb_checkpoints/demo_HYDI_DSI-checkpoint.ipynb
examples/.ipynb_checkpoints/demo_MAPL-checkpoint.ipynb
examples/octave-workspace
examples/octave-workspace (conflicted copy 2025-09-19 105347)
*.mex
octave-workspace
examples/.ipynb_checkpoints/tour_00index-checkpoint.ipynb
examples/.ipynb_checkpoints/tour_04fwvf-checkpoint.ipynb
examples/config.octave
