# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.mexa64
*.mexw64
*.mexmaca64
*.mexmaci64

# Backup files
*.asv
*.bck
*.old
*.bckp


data/README.txt
data/test_data.mat
data/test_data2.mat
data/test_data3.mat
io/3rdparty/Slicer-4.5/Extensions-24973/MatlabModules/DWI2FreeWater
io/3rdparty/Slicer-4.5/Extensions-24973/MatlabModules/MatFileToSlicerVolume
io/3rdparty/Slicer-4.5/Extensions-24973/MatlabModules/SlicerVolumeToMatFile
playground/atti2hydidsi_debuggcv.m
playground/compute_shodf_from_micro_debuggcv.m
playground/debuggcv_hydidsi.m
playground/debuggcv_misfit.m
playground/dmri_gcv_debuggcv.m
playground/findgcv_hydidsi.m
playground/micro2shodf_debuggcv.m
playground/README.txt
mexcode/mapl/@mapl/maplLibTest2.py
mexcode/mapl/@mapl/maplLibTest.py
mexcode/mapl/@mapl/maplLib.cpp
mexcode/mapl/@mapl/Makefile
mexcode/mapl/@hermite/Makefile
mexcode/mapl/@hermite/hermiteLibTest.py
mexcode/mapl/@hermite/hermiteLib.cpp
