# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.mex
*.mexa64
*.mexw64
*.mexmaca64
*.mexmaci64

# Backup files
*.asv
*.bck
*.old
*.bckp

playground
data
io/3rdparty/Slicer-4.5
mexcode/mapl/@*

mexcode/BLIS/*
mexcode/openblas-local/*
mexcode/config.octave
examples/config.octave

.jupyter_ystore.db
examples/.ipynb_checkpoints
examples/octave-workspace
octave-workspace
